/*
	Syntax of using CSS rules:

	selector{
		property: value;
	}
*/


/*Universal Selector*/
/*It targets all the elements in our webpage.*/
*{
/*	font-family property changes the style of the font*/
	font-family:"Courier New", monospace;
/* font-size changes the size of the text */
	font-size: 20px;
}


/*Type selector*/
/*tag-name */
h1{
	color: yellow;
}


/*ID selector*/
/*It targets only one element.*/
#zuitt-motto{
/*the letter-spacing protery changes the spaces between the characters in a text	*/
	letter-spacing: 5px;
}


/*Class selector*/
/*.class-name*/
.offering-item{
/*text-transform property changes the font to a cetain case	*/
/*uppercase value changes the text to all capitalized letter*/
	text-transform: uppercase;
}



/*Attribute selector*/
/*[attribute]*/
[required]{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}


/*Adjacent sibling selector*/
/*element-for-reference + target + element*/
h3 + img{
/*	height property changes the vertical dimensions of an element*/
	height: 300px;
/*	width property changes the horizontal dimensions of an element*/
	width: 300px;
	border-radius: 150px;
}


/*Descendant Selector*/
/*element-for-reference target-element*/
#bootcamp-learning-list li{
	color: #4e42f5;
}


/*General Sibling Selector*/
h2 ~ a{
/*text-decoration propery changes lines included in text (example: overline, underline and strike)	*/
/*none value will remove the underlin from our anchor tag*/
	text-decoration: none;
}


/*Child selector*/
body > section > form > label{
	color: rgb(150, 56, 59);
}


body{
	background-color: skyblue;
}


section{
/*vh - viewport height*/
	height: 100vh;
	text-align: center;
}


html{
/*scroll-behavior property that changes the scrolling behavior when clicking anchor tags*/
	scroll-behavior: smooth;
}


nav{
	background-color: white;
}


/*pseudo class*/
a:hover{
	background-color: #42edaf;
}

div{
	display: inline;
/*float property changes the horizontal alignment of an element to float either to the left or right of its container or div*/
	float: right;
}


ol{
	list-style-type: none;
}


form{
	text-align: center;
	background-color: white;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	height: 185px;
	width: 25vw;
/*Position property changes the position of an element base on a certain criteria*/
	position: relative;
	left: 37.5%;
}

button{
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
}