/*===============CSS Reset===============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	height: 150vh;
	padding: ;
}

/* Header Styling */
nav ul {
	list-style-type: none;
}

.nav-logo {
	float: left;
	border: 1px;
}

.right-nav {
    float: right;
    border: 1px;
}

.nav {
	display: inline-block;
	margin: 10px;
}

nav {
	padding: 1rem 1rem 5rem 1rem;
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 999;
}

.tuitt-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

/* Landing page Styling */

#bg-image div div button {
	text-align: right;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-right: 150px;
}


.title {
	font-family: 'Zilla Slab', sans-serif;
	color: white;
	font-size: 4rem;
	font-weight: bold;
	padding-left: 30%;
	padding-right: 10%;
	padding-top: 5rem;
	padding-bottom: 3rem;
}

.subtitle {
	font-family: 'Zilla Slab', sans-serif;
	color: white;
	font-size: 2rem;
	font-weight: normal;
	padding-left: 50%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 1rem;
}

.apply-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

.front-bg {
	min-height: 100vh;
	background-color: gray;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center top;
	background-attachment: scroll;
}

.container {
	background-color: rgba(0,0,0,0.5);
	min-height: 100vh;
	text-align: right;
}

/* Styling for Intro section */

.intro {
	text-align: center;
	padding-top: 2rem;
}

.intro-description {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

.pre-footer {
	background-color: #f7fbfb;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;
}

.title-2 {
	text-align: center;
	padding-bottom: 1rem;
}

.prefooter-description {
	text-align: center;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;
}

#pre-footer button {
	text-align: center;
}

.book-button {
	color: white;
	background-color: #336589;
	border-radius: 25px;
	font-size: 1rem;
	padding: 0.75em 1.5rem 0.75rem 1.5rem;
}

footer {
    text-align: center;
}