/*CSS Reset Rule*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.navbar-bg{
	background-color: #f8f8d9;
}

.whole-bg{
	background-color: #f5f5dc;
}

.nav-me{
	  font-family: "Sofia", sans-serif;
	  font-size: 30px;
	  text-shadow: 3px 3px 3px #ababab;
}

.body-ff{
	font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto', sans-serif;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/*.col1, .col2 {
  height: 100%;
}
*/

/*.ct1, .ct2 {
  width: 50%;
}

.ct1 {
  position: fixed;
  left: 0;
  top: 0;
}

.ct2 {
  margin-left: 50%;
  overflow: auto;
}*/