*{
	font-family: "sans-serif", monospace;
	font-size: 20px;
}


#external-styling{
	color: yellow;
}

h1{
	font-size: 50px;
}

#all-caps{
	text-transform: uppercase;
	font-size: 30px;
}

.language-to-learn{
	border: white;
  background: lightblue;
  background-clip: content-box;
}  

[a]{
	border-color: lightblue;
 	border-top-style: solid;
 	border-right-style: solid;
 	border-bottom-style: solid;
 	border-left-style: solid
}

img + ol{
	list-style-type: none;
}

section img{
	height: 150px;
	width: 150px;
	border-radius: 150px;
}

img ~ p{
	text-align: center;
}

body > section > .others{
	letter-spacing: 5px;
}